@CHARSET "UTF-8";

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #374954;
}

.modal {
  background-color: #fff;
  width: 400px;
  padding: 30px;
  position: fixed;
  left: 5%; 
  margin: 25px 0px 0px 0px;
  min-height: 650px;
  position: absolute;
}

.modalTwo {

  background-color: #fff;
  width: 400px;
  padding: 30px;
  position: fixed;
  left: 35%;
  margin: 25px 0px 0px 0px;
  min-height: 650px;
  position: absolute;
}

.modalSearch{

  background-color: #fff;
  width: 400px;
  padding: 30px;
/*   position: fixed; */
  left: 35%;
  margin: -325px 0px 0px 0px;
  min-height: 300px;
  position: absolute;
}

.modalReservation{

  background-color: #fff;
  width: 400px;
  padding: 30px;
  position: fixed;
  left: 36%;
  margin: 25px 0px 0px 0px;
  min-height: 650px;
  position: absolute;
}

.modalThree {
  background-color: #fff;  width: 400px;
  width: 400px;
  padding: 30px;
  position: fixed;
  left: 65%;
 margin: 25px 0px 0px 0px;
  min-height: 650px;
  position: absolute;
}

.modalFour {
  background-color: #fff;  width: 400px;
  width: 400px;
  padding: 30px;
  position: fixed;
  left: 5%;
  margin: 710px 0px 0px 0px;
  min-height: 650px;
  position: absolute;
}

.modalFive {
  background-color: #fff;  width: 400px;
  width: 400px;
  padding: 30px;
  position: fixed;
  left: 35%;
  margin: 710px 0px 0px 0px;
  min-height: 650px;
  position: absolute;
}

.modalSix {
  background-color: #fff;  width: 400px;
  width: 400px;
  padding: 30px;
  position: fixed;
  left: 65%;
  margin: 710px 0px 0px 0px;
  min-height: 650px;
  position: absolute;
}

.modalSeven {
  background-color: #fff;  width: 400px;
  width: 400px;
  padding: 30px;
  position: fixed;
  left: 5%;
  margin: 1425px 0px 0px 0px;
  min-height: 650px;
  position: absolute;
}

.modalEight {
  background-color: #fff;  width: 400px;
  width: 400px;
  padding: 30px;
  position: fixed;
  left: 35%;
  margin: 1425px 0px 0px 0px;
  min-height: 650px;
  position: absolute;
}


.head {
  font-weight: 700;
  font-size: 20px;
  color: #bbb;
  padding: 0 0 3px 0;
  text-align: center;
  color: #000;
  border-bottom: 3px solid #000;
}





.form {
  position: absolute;
  top: 50%;
  left: 30px;
  width: calc(100% - 60px);
  -webkit-transform: translateY(calc(-50% + 35px));
          transform: translateY(calc(-50% + 35px));
}

.form p {
  position: relative;
  margin-bottom: 30px;
}

.float-label input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-bottom: 3px solid #000;
}

.in{
	  text-align: center;
	  text-transform: uppercase;
}

.float-label input:focus {
  border-bottom: 3px solid #C0C0C0;
}

.float-label label {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  position: absolute;
  top: 0px;
  opacity: 0;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.float-label label.show {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  opacity: 1;
}

.toggle input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 15px;
  height: 15px;
  border: 3px solid #000;
  vertical-align: middle;
  margin-top: -2px;
}

.toggle input:focus {
  border: 3px solid #C0C0C0;
}
.toggle input:checked {
  background-color: #C0C0C0;
} 
.toggle label {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
} 

button,input[type="submit"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
}

#admin input[type="submit"] {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  color: #fff;
  padding: 15px 30px;
  display: block;
  margin: auto auto 0px 0px;
  width: 100%;
  background-color: #000;
  
  -webkit-transition: all 0.6s ease;
     -moz-transition: all 0.6s ease;
      -ms-transition: all 0.6s ease;
       -o-transition: all 0.6s ease;
          transition: all 0.6s ease;
}

#admin input[type="submit"]:hover, input[type="submit"]:focus {
  color: #000;
  background-color: #C0C0C0;
}

#location input[type="submit"] {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  color: #fff;
  padding: 15px 30px;
  display: block;
  margin: auto auto 0px 0px;
  width: 100%;
  background-color: #000;
  
  -webkit-transition: all 0.6s ease;
     -moz-transition: all 0.6s ease;
      -ms-transition: all 0.6s ease;
       -o-transition: all 0.6s ease;
          transition: all 0.6s ease;
}

#location input[type="submit"]:hover, input[type="submit"]:focus {
  color: #000;
  background-color: #C0C0C0;
}

#delete input[type="submit"] {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  color: #fff;
  padding: 15px 30px;
  display: block;
  margin: 345px auto 0px 0px;
  width: 100%;
  background-color: #000;
  
  -webkit-transition: all 0.6s ease;
     -moz-transition: all 0.6s ease;
      -ms-transition: all 0.6s ease;
       -o-transition: all 0.6s ease;
          transition: all 0.6s ease;
}

#delete input[type="submit"]:hover, input[type="submit"]:focus {
  color: #000;
  background-color: #C0C0C0;
}

.searchR{
	
	margin-top: 350px;
}

#more input[type="submit"] {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  color: #fff;
  padding: 15px 30px;
  margin-top: 15px;
  display: block;
  width: 100%;
  background-color: #000;
  
  -webkit-transition: all 0.6s ease;
     -moz-transition: all 0.6s ease;
      -ms-transition: all 0.6s ease;
       -o-transition: all 0.6s ease;
          transition: all 0.6s ease;
}

#more input[type="submit"]:hover, input[type="submit"]:focus {
  color: #000;
  background-color: #fff;
}

input:focus,
button:focus {
  outline: none;
}

.forgot {
  text-align: center;
}
.forgot a {
  display: inline-block;
  padding-bottom: 3px;
}

::-webkit-input-placeholder {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  color: #000;
}

:-moz-placeholder {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  color: #000;
}

::-moz-placeholder {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  color: #000;
}

.error label{

	display: block;
	color: red;
	text-align: center;
  	text-transform: uppercase;
  	font-size: 12px;
  	letter-spacing: 2px;
}

.good label{

	display: block;
	color: green;
	text-align: center;
  	text-transform: uppercase;
  	font-size: 12px;
  	letter-spacing: 2px;
}


select {

	/* styling */
	 background-color: white;
	 border-bottom:solid black 3px;
	 border-top:solid black 0px;
	 border-left:solid black 0px;
	 border-right:solid black 0px;
	/* display: inline-block; */
	font: sans-serif;
	line-height: 1.5em;
	padding: 0 0 1em 0;
	width: 100%;
	text-transform: uppercase;
	border-radius: 0px;
	 font-size: 12px;
  letter-spacing: 2px;
	
	 /* reset */
	
	margin: 0;      
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
}
select:active {
    	 border-bottom:solid black 4px;
	 border-top:solid black 0px;
	 border-left:solid black 0px;
	 border-right:solid black 0px;
}

select.minimal {
	
  background-image:
    linear-gradient(45deg, transparent 50%, black 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, black 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: black;
  outline: 0;
}



*:focus {
  outline: 1px dotted blue;
}

.tabbs > ul {
	text-transform: uppercase;
  position: relative;
  margin: 75px 0px 0px 0px;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #fff;
  font-size: 0;
}
.tabbs > ul .indicator {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 20%;
  background: #fffff;
  -webkit-transform: translateZ(0) translateX(0);
          transform: translateZ(0) translateX(0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tabbs > ul li {
  display: inline-block;
  font-size: 14px;
  width: 20%;
}
.tabbs > ul li a {
	
  display: block;
  position: relative;
  overflow: hidden;
  padding: 20px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: #fff;
  -webkit-transition: all 0.3s ease 0.4s;
  transition: all 0.3s ease 0.4s;
}
.tabbs > ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #fff;
  -webkit-transform: translateZ(0) translateY(100%);
          transform: translateZ(0) translateY(100%);
  -webkit-transition: all 0.3s ease 0.3s;
  transition: all 0.3s ease 0.3s;
  z-index: -1;
}
.tabbs > ul li a[aria-selected] {
  color: #374954;
}
.tabbs > ul li a[aria-selected]:before {
  -webkit-transform: translateZ(0) translateY(0);
          transform: translateZ(0) translateY(0);
}
.tabbs > section[aria-hidden="true"] {
  display: none;
}

.search-container {
  width: 490px;
  display: block;
  margin: 100px auto;
}

input#search-bar {
  margin: 0 auto;
  width: 108%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #374954;
  outline: none;
}

input#search-bar:focus {
  border: 1px solid #374954;
  transition: 0.35s ease;
  color: #374954;
}
input#search-bar:focus::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
input#search-bar:focus::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
input#search-bar:focus:-ms-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

.search-icon {
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -45px;
}
