@CHARSET "UTF-8";

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #374954;
}

.modal {
  background-color: #fff;
  width: 400px;
  padding: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  min-height: 620px;
}

.tab {
  float: left;
}

.tab:first-of-type {
  margin-right: 15px;
}

.option {
  display: none;
}

.option + label {
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color: #bbb;
  padding: 0 0 3px 0;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}

.option:checked + label {
  color: #000;
  border-bottom: 3px solid #000;
}

.option:checked ~ .form {
  display: block;
}

.form {
  display: none;
  position: absolute;
  top: 50%;
  left: 30px;
  width: calc(100% - 60px);
  -webkit-transform: translateY(calc(-50% + 35px));
          transform: translateY(calc(-50% + 35px));
}

.form p {
  position: relative;
  margin-bottom: 30px;
}

.float-label input {
	
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  border-bottom: 3px solid #000;
}

.float-label input:focus {
  border-bottom: 3px solid #C0C0C0;
}

.float-label label {
	
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  position: absolute;
  top: 0px;
  opacity: 0;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.float-label label.show {
	
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  opacity: 1;
}

.toggle input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 15px;
  height: 15px;
  border: 3px solid #000;
  vertical-align: middle;
  margin-top: -2px;
}

.toggle input:focus {
  border: 3px solid #C0C0C0;
}
.toggle input:checked {
  background-color: #C0C0C0;
} 
.toggle label {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
} 

button,
input[type="submit"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
}

input[type="submit"] {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  color: #fff;
  padding: 15px 30px;
  display: block;
  margin: 0 auto;
  width: 100%;
  background-color: #000;
}

input[type="submit"]:hover, input[type="submit"]:focus {
  color: #000;
  background-color: #C0C0C0;
}

input:focus,
button:focus {
  outline: none;
}

.forgot {
  text-align: center;
}
.forgot a {
	
  font-size: 10px;
}

.error label{

	display: block;
	color: red;
	text-align: center;
  	text-transform: uppercase;
  	font-size: 12px;
  	letter-spacing: 2px;
}

::-webkit-input-placeholder {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  color: #000;
}